

<mat-toolbar  color="primary">
  <a class="navbar-item">
    <img src="../assets/images/angular-logo.png">
  </a>
  <span style="margin-left: 25%;"flex> Card view demo</span>
 

</mat-toolbar>

<div class="content">
  <mat-form-field class="example-full-width">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
  <!-- <input type="text" [(ngModel)]="searchText" placeholder="search text goes here"> -->
<div fxLayout="row wrap"  fxLayoutGap="16px" fxLayoutAlign="start start" grid>
 
<div fxFlex="35%" fxFlex.xs="100%" fxFlex.sm="33%" class="content" *ngFor='let value of filteredData' >
  <mat-card class="mat-elevation-z4">
    <mat-card-header>
      <mat-card-title>{{value.data.title}}</mat-card-title>
    
    </mat-card-header>
    <mat-card-content class="myContent">
      <p>
       {{value.data.selftext_html}}
      </p>

      <b>
    URL:{{value.data.url}}
      </b>
      <br>
      <b>
        SCORE:{{value.data.score}}
      </b>
    </mat-card-content>
 
  </mat-card>
</div>
</div>
</div>

<router-outlet></router-outlet>